<!DOCTYPE html>
<html>
<head>
  <title>DevFlix</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Auto Complete -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.min.css">
  <link href="{{ url_for('static',filename='lity.css') }}" rel="stylesheet">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  <script type="text/javascript">
    var films = {{suggestions|tojson}};
  </script>
  <script src="{{ url_for('static',filename='lity.js') }}"></script>

</head>

<body id="content" style="font-family: 'Noto Sans JP', sans-serif;">
  
  <div class="ml-container" style="display: block;">
    <div class='logo-container'>
      <a href="https://dev1flix.herokuapp.com/">
      <img src="{{url_for('static',filename='Devflix.png')}}" id="logo-img"></a>
      <button class="='button-styled">Sign In</button>
    </div>
    <center id="rem"><h1> DevFlix: Movie Search<br> Recommendations and Reviews </h1></center>
    <div class="form-group shadow-textarea" style="margin-top: 30px;text-align: center;color: white;">
      <input type="text" name="movie" class="movie form-control" id="autoComplete" autocomplete="off" placeholder="Enter the Movie Name" style="background-color: #ffffff;border-color:#ffffff;width: 60%;color: #181818" required="required" />
  </div>
  <div class="form-group" style="text-align: center;">
    <button class="btn btn-primary btn-block movie-button" style="background-color: #e50914;text-align: center;border-color: #e50914;width:120px;" disabled="true" >Enter</button><br><br>
  </div>
    
	</div>

  <div id="loader" class="text-center">
  </div>
  
  <div class="fail">
    <center><h3>Sorry! The movie you requested is not in our database. 
    Please check the spelling or try with other movies!</h3></center>
  </div>

	<div class="results" id="res">
    <center>
      <h2 id="name" class="text-uppercase"></h2>
    </center>
	</div>
	
	<div class="footer">Made by DevLopers</div>
	
	<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='autocomplete.js')}}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='recommend.js')}}"></script>

</body>
</html>
