<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  <link href="{{ url_for('static',filename='lity.css') }}" rel="stylesheet">
  <script src="{{ url_for('static',filename='lity.js') }}"></script>
</head>

<body id="content">
	<div class="results">
	    <center>
	      <h2 id="name" class="text-uppercase"><t style="color:rgb(255, 255, 255); font-weight: bolder;">{{title}}</t></h2>
	    </center>
	</div>
	<br>

<div id="mycontent">
    <div id="mcontent">
      <div class="poster-lg">
        <img class="poster" style="border-radius: 40px;margin-left: 90px;" height="400" width="250" src={{poster}}>
      </div>
      <div class="poster-sm text-center">
        <img class="poster" style="border-radius: 40px;margin-bottom: 5%;" height="400" width="250" src={{poster}}>
      </div>
      <div id="details">
        <br/>
        <h6 id="title" style="color:white;"><t style="color:#e72b34; font-weight: bold;">TITLE: </t>&nbsp;{{title}}</h6>
        <h6 id="overview" style="color:white;max-width: 85%"><t style="color:#e72b34; font-weight: bold;">OVERVIEW: </t><br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{overview}}</h6>
        <h6 id="vote_average" style="color:white;"><t style="color:#e72b34; font-weight: bold;">RATING: </t>&nbsp;{{vote_average}}/10 ({{vote_count}} votes)</h6>
        <h6 id="genres" style="color:white;"><t style="color:#e72b34; font-weight: bold;">GENRE: </t>&nbsp;{{genres}}</h6>
        <h6 id="date" style="color:white;"><t style="color:#e72b34; font-weight: bold;">RELEASE DATE: </t>&nbsp;{{release_date}}</h6>
        <h6 id="runtime" style="color:white;"><t style="color:#e72b34; font-weight: bold;">RUNTIME:</t>&nbsp;{{runtime}}</h6>
        <h6 id="status" style="color:white;"><t style="color:#e72b34; font-weight: bold;">STATUS:</t>&nbsp;{{status}}</h6>
        <h6 id="status" style="color:white;"><a href="{{trailer_embed}}" data-lity><button class="button-styled" >Watch Trailer</button></a></h6>
      
      </div>
    </div>
</div>
<br/>
	  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='recommend.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
